
section {
  border: 2px solid black;
  border-radius: 8px;
}

header {
  width: 100%;
  height: 5rem;
  background-color: black;
  display: flex;
}

nav {
  width: 100%;
}

nav li {
  color: white;
  font-size: 2.3rem;
  margin-top: 1rem;
  text-align: center;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: black;
  display: flex;
}

  a {
  text-decoration: none;
  margin: .2rem;
  list-style: none;
}

  a:hover {
   text-decoration: none;
   margin: .2rem;
 }


li{
  width: 100%;
  text-align: center;
  list-style: none;
}

h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  }

  .legend {
    position: absolute;
    height: 18rem;
    width: 30%;
    background-color: #222222;
    z-index: 100;
    display: block;
    left: 30px;
    bottom: 30px;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
  }

  .legendlab {
    font-size: 2rem;
    color: white;
  }

  .hugeq {
    color: red;
    font-size: 3rem;
  }

  .bigq {
    color: orange;
    font-size: 3rem;
  }

  .smallq {
    color: green;
    font-size: 3rem;
  }

  .theTitle {
    text-align: center;
    width: 100%;
    display: flex;
  }

  .globe {
    color: green;
    font-size: 3rem;
  }

  .filtBox {
    margin: 1.5rem 0rem;
  }

  .filt {
    margin: .5rem;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: .5rem;
  }

  .filt:hover {
    background-color:black;
  }
