<!-- <section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">All Earthquakes</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Week</a>
    </li>
  </ul>

  <all-quakes ng-show="tab.isSet(1)" ></all-quakes>


  <week-quakes ng-show="tab.isSet(2)"></week-quakes>

</section> -->
