<header>
  <nav>
  <a href="#/" class="theTitle"><li>
  <i class="fa fa-globe globe"></i>  Earthquake Tracker</li></a>
  </nav>
</header>
<div id="map_canvas">
<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
  <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" geodesic="c.geodesic">
  </ui-gmap-circle>
      <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                <div><h2><a href="#/page">{{title}}</a></h2>
                <span>Info about the games</span>
                </div>
                  </ui-gmap-window>
                  </ui-gmap-google-map>
<div class="legend">
  <div class="filtBox">
    <a href="#/month"><span class="filt">Month</span></a><a href="#/"><span class="filt">Week</span></a><a href="#/day"><span class="filt">Day</span></a><a href="#/hour"><span class="filt">Hour</span></a>
  </div>
<div><i class="fa fa-stop hugeq"></i>   <label class="legendlab">M4.5+ Earthquakes</label></div>
<div><i class="fa fa-stop bigq"></i>   <label class="legendlab">M2.5+ Earthquakes</label></div>
<div><i class="fa fa-stop smallq"></i>   <label class="legendlab">M1.0+ Earthquakes</label></div>
</div>
</div>
